.pink-badge .Badge {
  color: #CD1D8D !important;
  background-color: #FFF7FC !important;
  border: 1px solid #F3C6E2 !important;
}

.yellow-badge .Badge {
  color: #946800 !important;
  background-color: #FFFCE8 !important;
  border: 1px solid #F9E68C !important;
}
