.loadingContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-top: 6px solid var(--color-primary);
  border-radius: 50%;
  width: 10vh;
  height: 10vh;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
