[submodule "external/wallet-backend"]
	path = external/wallet-backend
	url = https://github.com/stellar/wallet-backend.git
[submodule "external/stellar-disbursement-platform-backend"]
	path = external/stellar-disbursement-platform-backend
	url = https://github.com/stellar/stellar-disbursement-platform-backend.git
[submodule "infra/external/wallet-backend"]
	path = infra/external/wallet-backend
	url = https://github.com/stellar/wallet-backend.git
[submodule "infra/external/stellar-disbursement-platform-backend"]
	path = infra/external/stellar-disbursement-platform-backend
	url = https://github.com/stellar/stellar-disbursement-platform-backend.git
[submodule "infra/external/stellar-disbursement-platform-frontend"]
	path = infra/external/stellar-disbursement-platform-frontend
	url = https://github.com/stellar/stellar-disbursement-platform-frontend.git
