volumes:
  backend-db-data:
  backend-root-node-modules:
  backend-node-modules:
  web-root-node-modules:
  web-node-modules:

services:
  # PostgreSQL Database#
  db:
    container_name: smart-wallet-database
    profiles: ["all", "db", "backend"]
    image: postgres:17-alpine
    ports:
      - 5432:5432
    volumes:
      - backend-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DATABASE_USER:-postgres}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-postgres}
      POSTGRES_DB: ${DATABASE_NAME:-smart_wallet_db}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Node Service #
  backend:
    container_name: smart-wallet-backend
    profiles: ['all', 'backend']
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
      target: local
    environment:
      DEPLOY_STAGE: ${DEPLOY_STAGE:-local}
      ENVIRONMENT_NAME: ${ENVIRONMENT_NAME:-staging}
      NODE_ENV: ${NODE_ENV:-development}
      PORT: ${NODE_PORT:-8000}
      DEBUG: ${DEBUG:-true}
      FRONT_ADDRESS: ${FRONT_ADDRESS:-http://localhost:3000}
      DATABASE_TYPE: ${DATABASE_TYPE:-postgres}
      DATABASE_NAME: ${DATABASE_NAME:-smart_wallet_db}
      DATABASE_HOST: ${DATABASE_HOST:-smart-wallet-database}
      DATABASE_PORT: ${DATABASE_PORT:-5432}
      DATABASE_USER: ${DATABASE_USER:-postgres}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD:-postgres}
      SDP_EMBEDDED_WALLETS_URL: ${SDP_EMBEDDED_WALLETS_URL:-https://stellar-disbursement-platform-backend-dev.stellar.org/embedded-wallets}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY:-your-secret-string-at-least-256-bits-long}
      JWT_EXPIRATION: ${JWT_EXPIRATION:-1h}
    volumes:
      - './:/app'
      - 'backend-root-node-modules:/app/node_modules'
      - 'backend-node-modules:/app/apps/backend/node_modules'
    ports:
      - ${NODE_PORT:-8000}:${NODE_PORT:-8000}
      - 9229:9229
    depends_on:
      db:
        condition: service_healthy

  # React Service #
  web:
    container_name: smart-wallet-web
    profiles: ['all', 'web']
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      target: local
      args:
        PROD: ${PROD:-false}
        VITE_API_URL: ${VITE_API_URL:-http://localhost:8000}
        VITE_THEME_SWITCH_ENABLED: ${VITE_THEME_SWITCH_ENABLED:-false}
    environment:
      DEPLOY_STAGE: ${DEPLOY_STAGE:-local}
      PORT: ${PORT:-3000}
      PROD: ${PROD:-false}
      VITE_API_URL: ${VITE_API_URL:-http://localhost:8000}
      VITE_THEME_SWITCH_ENABLED: ${VITE_THEME_SWITCH_ENABLED:-false}
    volumes:
      - './:/app'
      - 'web-root-node-modules:/app/node_modules'
      - 'web-node-modules:/app/apps/web/node_modules'
    ports:
      - ${PORT:-3000}:${PORT:-3000}
