volumes:
  backend-db-data:
  backend-root-node-modules:
  backend-node-modules:
  web-root-node-modules:
  web-node-modules:
name: meridian-pay
services:
  # PostgreSQL Database#
  backend-db:
    container_name: smart-wallet-database
    profiles: ["all", "db", "backend"]
    image: postgres:17-alpine
    ports:
      - 5452:5452
    volumes:
      - backend-db-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: ${DATABASE_USER:-postgres}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD:-postgres}
      POSTGRES_DB: ${DATABASE_NAME:-smart_wallet_db}
      PGPORT: ${DATABASE_PORT:-5452}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  # Node Service #
  backend:
    container_name: smart-wallet-backend
    profiles: ['all', 'backend']
    build:
      context: .
      dockerfile: apps/backend/Dockerfile
      target: local
    environment:
      FRONT_ADDRESS: ${FRONT_ADDRESS:-http://localhost:3201}
      DEPLOY_STAGE: ${DEPLOY_STAGE:-local}
      ENVIRONMENT_NAME: ${ENVIRONMENT_NAME:-staging}
      NODE_ENV: ${NODE_ENV:-development}
      PORT: ${NODE_PORT:-8201}
      DEBUG: ${DEBUG:-true}
      VALID_X_API_KEYS: ${VALID_X_API_KEYS:-your-valid-api-keys,split-by-commas}
      RECOVERY_SIGNER_MASTER_PUBLIC_KEY: ${RECOVERY_SIGNER_MASTER_PUBLIC_KEY:-GAIGOIHCNSZOINE6UV4ULAPH6LLNDLU3ED7H7C4G4MI3FUAJIR7RSKRW}
      RECOVERY_COSIGNER_PRIVATE_KEY: ${RECOVERY_COSIGNER_PRIVATE_KEY:-"SCTSSHTRJOJNJJEDH365KEJ4NBKIS7FEK6RUTGT34WYU5WY7DJI23OUD}
      DATABASE_TYPE: ${DATABASE_TYPE:-postgres}
      DATABASE_NAME: ${DATABASE_NAME:-smart_wallet_db}
      DATABASE_HOST: ${DATABASE_HOST:-smart-wallet-database}
      DATABASE_PORT: ${DATABASE_PORT:-5452}
      DATABASE_USER: ${DATABASE_USER:-postgres}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD:-postgres}
      SDP_EMBEDDED_WALLETS_URL: ${SDP_EMBEDDED_WALLETS_URL:-http://localhost:8000/embedded-wallets}
      SDP_EMBEDDED_WALLETS_API_KEY: ${SDP_EMBEDDED_WALLETS_API_KEY:-}
      STELLAR_HORIZON_URL: ${STELLAR_HORIZON_URL:-https://horizon-testnet.stellar.org}
      STELLAR_SOROBAN_RPC_URL: ${STELLAR_SOROBAN_RPC_URL:-https://soroban-testnet.stellar.org}
      STELLAR_WALLET_BACKEND_URL: ${STELLAR_WALLET_BACKEND_URL:-http://localhost:8101}
      JWT_SECRET_KEY_WALLET_BACKEND: ${JWT_SECRET_KEY_WALLET_BACKEND:-}
      STELLAR_NETWORK_PASSPHRASE: ${STELLAR_NETWORK_PASSPHRASE:-Test SDF Network ; September 2015}
      STELLAR_MAX_FEE: ${STELALR_MAX_FEE:-10000}
      STELLAR_SOURCE_ACCOUNT_PRIVATE_KEY: ${STELLAR_SOURCE_ACCOUNT_PRIVATE_KEY:-SBHMX37C4U4Z65BS4JUKRLS53YYRXLCKXPYEZLNA5GU2VYIO2ZT54JSJ}
      STELLAR_SOURCE_ACCOUNT_PUBLIC_KEY: ${STELLAR_SOURCE_ACCOUNT_PUBLIC_KEY:-GCUZ37M45SEMGYFYYZE7IBTS3ISKGPDLFRNHS73ORSTMNYM64NLEQO76}
      NFT_CONTRACT_DEPLOYER_PRIVATE_KEY: ${NFT_CONTRACT_DEPLOYER_PRIVATE_KEY:-SBHMX37C4U4Z65BS4JUKRLS53YYRXLCKXPYEZLNA5GU2VYIO2ZT54JSJ}
      STELLAR_TOKEN_CONTRACT_NATIVE: ${STELLAR_TOKEN_CONTRACT_NATIVE:-CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC}
      STELLAR_MULTICALL_CONTRACT: ${STELLAR_MULTICALL_CONTRACT:-CDSO2OK6ETUC7KLEWYJ2SL7IC77DEASWHDKJMPCMQSKILJEQ7YC6ZSUK}
      STELLAR_AIRDROP_CONTRACT_ADDRESS: ${STELLAR_AIRDROP_CONTRACT_ADDRESS:-your-airdrop-contract-address}
      STELLAR_GIFT_AIRDROP_CONTRACT_ADDRESS: ${STELLAR_GIFT_AIRDROP_CONTRACT_ADDRESS:-your-gift-airdrop-contract-address}
      TWILIO_SENDGRID_API_KEY: ${TWILIO_SENDGRID_API_KEY:-your-sendgrid-api-key}
      TWILIO_SENDGRID_SENDER_ADDRESS: ${TWILIO_SENDGRID_SENDER_ADDRESS:-your@email.com}
      RECOVERY_EMAIL_SUBJECT: ${RECOVERY_EMAIL_SUBJECT:-Recovery Link}
      RECOVERY_EMAIL_TEXT: ${RECOVERY_EMAIL_TEXT:-"Click on the following link to recover your wallet {{RECOVERY_LINK}}"}
      WEBAUTHN_RP_NAME: ${WEBAUTHN_RP_NAME:-Smart Wallet Demo}
      WEBAUTHN_RP_ORIGIN: ${WEBAUTHN_RP_ORIGIN:-http://localhost:3201}
      STAGING_SERVER_URL: ${STAGING_SERVER_URL:-https://my-staging-server.com}
      PROD_SERVER_URL: ${PROD_SERVER_URL:-https://my-production-server.com}
      GIFT_STORAGE_BASE_URL: ${GIFT_STORAGE_BASE_URL:-https://your-bucket-name.r2.dev}
      GIFT_ELIGIBILITY_TIMEOUT: ${GIFT_ELIGIBILITY_TIMEOUT:-5000}
      JWT_SECRET_KEY: ${JWT_SECRET_KEY:-your-secret-string-at-least-256-bits-long}
      JWT_EXPIRATION: ${JWT_EXPIRATION:-1h}
    volumes:
      - './:/app'
      - 'backend-root-node-modules:/app/node_modules'
      - 'backend-node-modules:/app/apps/backend/node_modules'
    ports:
      - ${NODE_PORT:-8201}:${NODE_PORT:-8201}
      - 9229:9229
    depends_on:
      backend-db:
        condition: service_healthy

  # React Service #
  web:
    container_name: smart-wallet-web
    profiles: ['all', 'web']
    build:
      context: .
      dockerfile: apps/web/Dockerfile
      target: local
      args:
        PROD: ${PROD:-false}
        APP_TITLE: ${APP_TITLE:-Smart Wallet Demo}
        VITE_API_URL: ${VITE_API_URL:-http://localhost:8201}
        VITE_X_API_KEY: ${VITE_X_API_KEY:-"your-valid-api-keys,split-by-commas"}
        VITE_THEME_SWITCH_ENABLED: ${VITE_THEME_SWITCH_ENABLED:-false}
        VITE_ENVIRONMENT_NAME: ${VITE_ENVIRONMENT_NAME:-staging}
        VITE_SENTRY_DSN: ${VITE_SENTRY_DSN:-}
        VITE_GIFT_STORAGE_BASE_URL: ${VITE_GIFT_STORAGE_BASE_URL:-https://your-bucket-name.r2.dev}
        VITE_TERMS_OF_SERVICE_URL: ${VITE_TERMS_OF_SERVICE_URL:-}
        VITE_PRIVACY_POLICY_URL: ${VITE_PRIVACY_POLICY_URL:-}
        VITE_ADDENDUM_URL: ${VITE_ADDENDUM_URL:-}
        VITE_FAQ: ${VITE_FAQ:-eyJpdGVtcyI6W3sidGl0bGUiOiJJdGVtIDEiLCJkZXNjcmlwdGlvbiI6IlRoaXMgaXMgaXRlbSAxIn0seyJ0aXRsZSI6Ikl0ZW0gMiIsImRlc2NyaXB0aW9uIjoiVGhpcyBpcyBpdGVtIDIifV19}
    environment:
      DEPLOY_STAGE: ${DEPLOY_STAGE:-local}
      PORT: ${PORT:-3201}
      PROD: ${PROD:-false}
      VITE_API_URL: ${VITE_API_URL:-http://localhost:8201}
      VITE_X_API_KEY: ${VITE_X_API_KEY:-"your-valid-api-keys,split-by-commas"}
      VITE_THEME_SWITCH_ENABLED: ${VITE_THEME_SWITCH_ENABLED:-false}
      VITE_ENVIRONMENT_NAME: ${VITE_ENVIRONMENT_NAME:-staging}
      VITE_SENTRY_DSN: ${VITE_SENTRY_DSN:-}
      VITE_GIFT_STORAGE_BASE_URL: ${VITE_GIFT_STORAGE_BASE_URL:-https://your-bucket-name.r2.dev}
      VITE_TERMS_OF_SERVICE_URL: ${VITE_TERMS_OF_SERVICE_URL:-}
      VITE_PRIVACY_POLICY_URL: ${VITE_PRIVACY_POLICY_URL:-}
      VITE_ADDENDUM_URL: ${VITE_ADDENDUM_URL:-}
      VITE_ONBOARDING_STYLE_VARIANT: ${VITE_ONBOARDING_STYLE_VARIANT:-stellar-house}
      VITE_FAQ: ${VITE_FAQ:-eyJpdGVtcyI6W3sidGl0bGUiOiJJdGVtIDEiLCJkZXNjcmlwdGlvbiI6IlRoaXMgaXMgaXRlbSAxIn0seyJ0aXRsZSI6Ikl0ZW0gMiIsImRlc2NyaXB0aW9uIjoiVGhpcyBpcyBpdGVtIDIifV19}
    volumes:
      - './:/app'
      - 'web-root-node-modules:/app/node_modules'
      - 'web-node-modules:/app/apps/web/node_modules'
    ports:
      - ${PORT:-3201}:${PORT:-3201}
