# APPLICATION
FRONT_ADDRESS="http://localhost:3000"
DEPLOY_STAGE="local"
ENVIRONMENT_NAME="staging"
NODE_ENV="development"
PORT=8000
DEBUG=true
RECOVERY_SIGNER="SCTSSHTRJOJNJJEDH365KEJ4NBKIS7FEK6RUTGT34WYU5WY7DJI23OUD" # The recovery signer is the set during wallet creation

# DATABASE
DATABASE_TYPE=postgres
DATABASE_NAME=smart_wallet_db
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# INTEGRATIONS
SDP_EMBEDDED_WALLETS_URL="https://stellar-disbursement-platform-backend-dev.stellar.org/embedded-wallets"
SDP_EMBEDDED_WALLETS_API_KEY="your-sdp-embedded-wallets-api-key"

STELLAR_HORIZON_URL="https://horizon-testnet.stellar.org"
STELLAR_SOROBAN_RPC_URL="https://soroban-testnet.stellar.org"

STELLAR_WALLET_BACKEND_URL="https://wallet-backend-testnet-21ac687b8418.herokuapp.com"
JWT_SECRET_KEY_WALLET_BACKEND="SBLIQC4PO4OJDNAUGJJL23H7HWME4VCW4PFAPIJ6SI4HHEYKJ2QO32HN" # Generate on: https://lab.stellar.org/account/create?$=network$id=testnet&label=Testnet&horizonUrl=https:////horizon-testnet.stellar.org&rpcUrl=https:////soroban-testnet.stellar.org&passphrase=Test%20SDF%20Network%20/;%20September%202015;;

STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
STELLAR_MAX_FEE="10000"

STELLAR_SOURCE_ACCOUNT_PRIVATE_KEY="SAARF2ZWAHZJMKA6LXIFVNIHUBEUTMKV5NWCCUZV6ORPKLUK6RSOYZ4D"
STELLAR_SOURCE_ACCOUNT_PUBLIC_KEY="GAX7FKBADU7HQFB3EYLCYPFKIXHE7SJSBCX7CCGXVVWJ5OU3VTWOFEI5"

STELLAR_TOKEN_CONTRACT_NATIVE="CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCYSC"
STELLAR_TOKEN_CONTRACT_USDC="CDTY3P6OVY3SMZXR3DZA667NAXFECA6A3AOZXEU33DD2ACBY43CIKDPT"

# TWILIO
TWILIO_SENDGRID_API_KEY="your-sendgrid-api-key"
TWILIO_SENDGRID_SENDER_ADDRESS="your@email.com"

# WEBAUTHN
WEBAUTHN_RP_NAME="Smart Wallet Demo"
WEBAUTHN_RP_ORIGIN="http://localhost:3000"

# JWT
JWT_SECRET_KEY="your-secret-string-at-least-256-bits-long"
JWT_EXPIRATION="7d"  # 7 days

# SWAGGER
STAGING_SERVER_URL="https://my-staging-server.com"
PROD_SERVER_URL="https://my-production-server.com"
