LIQUIFY_FUTURENET_RPC='https://stellar.liquify.com/api=41EEWAH79Y5OCGI7/futurenet'
LIQUIFY_TESTNET_RPC='https://stellar.liquify.com/api=41EEWAH79Y5OCGI7/testnet'
LIQUIFY_MAINNET_RPC='https://stellar-mainnet.liquify.com/api=41EEWAH79Y5OCGI7/mainnet'

GATEWAY_TESTNET_RPC='https://soroban-rpc.testnet.stellar.gateway.fm'
GATEWAY_MAINNET_RPC='https://soroban-rpc.mainnet.stellar.gateway.fm'

SOROBANRPC_MAINNET_RPC='https://mainnet.sorobanrpc.com'

NODIES_TESTNET_RPC='https://stellar-soroban-testnet-public.nodies.app'
NODIES_MAINNET_RPC='https://stellar-soroban-public.nodies.app'

SDF_FUTURENET_RPC='https://rpc-futurenet.stellar.org'
SDF_TESTNET_RPC='https://soroban-testnet.stellar.org'

ONFINALITY_MAINNET_RPC='https://stellar.api.onfinality.io/public'

LIGHTSAIL_MAINNET_RPC='https://rpc.lightsail.network/'
LIGHTSAIL_MAINNET_FULL_ARCHIVE_RPC='https://archive-rpc.lightsail.network/'

ANKR_MAINNET_FULL_ARCHIVE_RPC='https://rpc.ankr.com/stellar_soroban'

HORIZON_PROVIDER_TESTNET='https://horizon-testnet.stellar.org'
HORIZON_PROVIDER_MAINNET='https://horizon.stellar.org'
HORIZON_PROVIDER_FUTURENET='https://horizon-futurenet.stellar.org'