.button {
  border: 0;
  font-size: var(--font-size-sm);
  line-height: 114%;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--color-whitish);
  text-align: center;
  border-radius: 6px;

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  background-color: var(--color-primary);

  &:hover {
    background-color: darken(var(--color-primary), 0.1);
  }

  &:active {
    background-color: lighten(var(--color-primary), 0.1);
  }

  &:disabled {
    background-color: saturate(var(--color-primary), -1);
  }
}

.secondary {
  background-color: var(--color-secondary);
  color: var(--color-whitish);

  &:hover {
    background-color: darken(var(--color-secondary), 0.1);
  }

  &:active {
    background-color: lighten(var(--color-secondary), 0.1);
  }

  &:disabled {
    background-color: saturate(var(--color-secondary), -1);
  }
}

.tertiary {
  background-color: var(--color-background);
  border: 1px solid var(--color-primary);
  color: var(--color-primary);

  & .iconWrapper svg path {
    fill: var(--color-primary);
  }

  &:hover {
    border: 1px solid darken(var(--color-primary), 0.1);
    color: darken(var(--color-primary), 0.1);

    .iconWrapper svg path {
      fill: darken(var(--color-primary), 0.1);
    }
  }

  &:active {
    border: 1px solid lighten(var(--color-primary), 0.1);
    color: lighten(var(--color-primary), 0.1);

    .iconWrapper svg path {
      fill: lighten(var(--color-primary), 0.1);
    }
  }

  &:disabled {
    border: 1px solid saturate(var(--color-primary), -1);
    color: saturate(var(--color-primary), -1);

    .iconWrapper svg path {
      fill: saturate(var(--color-primary), -1);
    }
  }
}

.ghost {
  color: var(--color-primary);
  background-color: transparent;

  .iconWrapper svg path {
    fill: var(--color-primary);
  }

  &:hover {
    color: darken(var(--color-primary), 0.1);

    .iconWrapper svg path {
      fill: darken(var(--color-primary), 0.1);
    }
  }

  &:active {
    color: lighten(var(--color-primary), 0.1);

    .iconWrapper svg path {
      fill: lighten(var(--color-primary), 0.1);
    }
  }

  &:disabled {
    color: saturate(var(--color-primary), -1);

    .iconWrapper svg path {
      fill: saturate(var(--color-primary), -1);
    }
  }
}

.destructive {
  background-color: var(--color-danger);
  color: var(--color-whitish);

  &:hover {
    background-color: darken(var(--color-danger), 0.1);
  }

  &:active {
    background-color: lighten(var(--color-danger), 0.1);
  }

  &:disabled {
    background-color: saturate(var(--color-danger), -1);
  }
}

.small {
  padding: 4px 16px;
}

.medium {
  padding: 8px 16px;
}

.large {
  padding: 16px;
}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;

  .loadingWrapper,
  .iconWrapper {
    padding-left: 18px;
    padding-right: 2px;
  }
}

.loadingWrapper,
.iconWrapper {
  display: flex;
  padding-left: 2px;
  padding-right: 18px;

  &>img,
  &>svg {
    width: 15px;
    height: 15px;
  }
}

.loader {
  border: 3px solid #f3f3f3;
  border-top: 3px solid transparent;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
