:root {
  --color-primary: #fdda24;
  --color-secondary: #b7ace8;
  --color-tertiary: #00a7b5;
  --color-accent: #fc7d27;
  --color-accent-black: #000000;
  --color-accent-white: #ffffff;
  --color-accent-muted: #d6d2c4;
  --color-text: #171717;
  --color-text-secondary: #6f6f6f;
  --color-text-tertiary: #dfe3e6;
  --color-foreground-primary: #8f8f8f;
  --color-background: #ffffff;
  --color-background-primary: #fcfcfc;
  --color-background-secondary: #f2f2f7;
  --color-background-tertiary: #f3f3f3;
  --color-border-primary: #e2e2e2;
  --color-border-secondary: #e8e8e8;
  --color-whitish: #ffffff;
  --color-blackish: #000000;
  --color-brownish: #47120a;
  --color-brownish-secondary: rgba(71, 18, 10, 0.5);
  --color-muted: #f6f6f6;
  --color-error: #cd2b31;
  --color-error-secondary: #e5484d;
  --color-error-tertiary: #ffe5e5;
  --color-success: #30a46c;
  --color-success-secondary: #ddf3e4;
  --color-danger: #ff3636;
  --color-warning: #ffb224;
  --color-brand-primary: #5746af;
  --color-pink: #d6409f;
  --color-pink-secondary: #fce5f3;
  --color-pink-tertiary: #fff7fc;

  --font-size-xxxs: 0.5rem;
  /**  8px */
  --font-size-xxs: 0.625rem;
  /** 10px */
  --font-size-xs: 0.75rem;
  /**  12px */
  --font-size-sm: 0.875rem;
  /** 14px */
  --font-size-md: 1rem;
  /**  16px */
  --font-size-lg: 1.25rem;
  /**  20px */
  --font-size-xl: 1.5rem;
  /**  24px */
  --font-size-2xl: 2rem;
  /** 32px */
  --font-size-3xl: 2.5rem;
  /** 40px **/
  --font-size-4xl: 3rem;
  /** 48px */

  --font-family: 'Inter', sans-serif;
  --font-font-style: normal;

  --font-weight-lighter: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-bolder: 900;

  --border-radius-small: 4px;
  --border-radius-default: 8px;
  --border-radius-large: 12px;
  --border-radius-full: 999999px;

  --line-height-none: 100%;
  --line-height-tight: 110%;
  --line-height-normal: 120%;
  --line-height-loose: 130%;
}
