.inputContainer {
  display: flex;
  vertical-align: center;
  align-items: center;
  border: 1px solid darken(var(--color-whitish), 0.3);
  border-radius: var(--border-radius-small);
  height: 28px;
  width: 100%;
  transition: border 0.3s ease;
  margin: 4px 0;
  background-color: var(--color-background);

  &:hover {
    border-color: darken(var(--color-whitish), 0.1);
  }

  &:focus,
  &:focus-within {
    border-color: var(--color-secondary);
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  background-color: darken(var(--color-whitish), 0.2);
}

.icon {
  padding-left: 12px;
  cursor: pointer;

  &>img,
  &>svg {
    padding-top: 2px;
    width: 15px;
    height: 15px;
  }
}

.input {
  font-size: var(--font-size-sm);
  color: var(--color-blackish);
  padding: 2px 12px;
  outline: none;
  border: none;
  width: 100%;
  line-height: 120%;

  &:disabled {
    background-color: darken(var(--color-whitish), 0.3);
  }

  &::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darken(var(--color-whitish), 0.2);
  }

  &::-ms-input-placeholder {
    /* Internet Explorer 10-11, Edge */
    color: darken(var(--color-whitish), 0.2);
  }
}

.default {
  border-color: darken(var(--color-whitish), 0.1);
}

.error {
  border-color: var(--color-danger);
}

.success {
  border-color: var(--color-success);
}

.focus {
  border-color: var(--color-secondary);
}
