.horizontal-navbar {
  display: flex;
  padding: 6px;
  gap: 8px;
  background-color: var(--color-background);
  border-radius: 6px;
  width: 100%;
  height: 44px;
  box-sizing: border-box;
}


@media (max-width: 640px) {
  .horizontal-navbar {
    padding: 6px;
    gap: 8px;
  }
}
