name: Contracts CI/CD

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - main
      - develop
      - 'release/*'
      - 'feature/*'
      - 'subtask/*'
      - 'hotfix/*'
    paths:
      - 'contracts/**/*.rs'
      - 'contracts/**/*.toml'
      - 'contracts/**/*.lock'
      - 'contracts/Cargo.toml'
      - 'contracts/Cargo.lock'
      - '.github/workflows/contracts*.yaml'

jobs:
  code-quality:
    name: Code quality
    uses: ./.github/workflows/contracts.code-quality.yaml

  build:
    name: Build contracts
    needs: [code-quality]
    uses: ./.github/workflows/contracts.build.yaml