name: Web CI/CD

on:
  pull_request:
    types: [opened, reopened, synchronize]
    branches:
      - "main"
      - "develop"
      - "release/*"
      - "feature/*"
      - "subtask/*"
      - "hotfix/*"
    paths:
      - "apps/web/**/*.js"
      - "apps/web/**/*.ts"
      - "apps/web/**/*.tsx"
      - "apps/web/**/*.json"
      - "apps/web/**/*.lock"
      - "apps/web/Dockerfile"
      - "apps/web/src/**"

jobs:
  set-outputs:
    name: Set outputs
    uses: ./.github/workflows/web.set-outputs.yaml
    with:
      run-type: ${{ inputs.run-type }}

  build:
    name: Build web
    needs: [set-outputs]
    uses: ./.github/workflows/web.build.yaml
    secrets:
      APP_ASSETS_URL: ${{ secrets.WEB_APP_ASSETS_URL }}
      APP_CONTENT_URL: ${{ secrets.WEB_APP_CONTENT_URL }}

  code-quality:
    name: Code quality
    needs: [build]
    uses: ./.github/workflows/web.code-quality.yaml
