name: Web Deploy

on:
  workflow_dispatch:
    inputs:
      run-type:
        description: "Run option"
        required: true
        default: "Deploy-to-Staging-Testnet"
        type: choice
        options:
          - Code-Quality
          - Deploy-to-Staging-Testnet
          - Deploy-to-Prod-Mainnet

jobs:
  set-outputs:
    name: Set outputs
    uses: ./.github/workflows/web.set-outputs.yaml
    with:
      run-type: ${{ inputs.run-type }}

  build:
    name: Build web
    needs: [set-outputs]
    uses: ./.github/workflows/web.build.yaml

  code-quality:
    name: Code quality
    needs: [build]
    uses: ./.github/workflows/web.code-quality.yaml

  deploy-staging-testnet:
    name: Deploy to Heroku (Staging Testnet)
    needs: [set-outputs, build, code-quality]
    if: needs.code-quality.result == 'success' && needs.build.result == 'success' && needs.set-outputs.result == 'success' && needs.set-outputs.outputs.environment != 'Disabled'
    uses: ./.github/workflows/web.deploy-heroku.yaml
    with:
      environment: ${{ needs.set-outputs.outputs.environment }}
      heroku_app_name: ${{ needs.set-outputs.outputs.resource_name }}
      version: ${{ needs.set-outputs.outputs.version_number }}
    secrets:
      HEROKU_APP_NAME: ${{ secrets.HEROKU_WEB_APP_NAME_STAGING_TESTNET }}
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

  deploy-prod-mainnet:
    name: Deploy to Heroku (Production Mainnet)
    needs: [set-outputs, deploy-staging-testnet]
    if: needs.deploy-staging-testnet.result == 'success' && needs.set-outputs.result == 'success' && needs.set-outputs.outputs.environment != 'Disabled'
    uses: ./.github/workflows/web.deploy-heroku.yaml
    with:
      environment: ${{ needs.set-outputs.outputs.environment }}
      heroku_app_name: ${{ needs.set-outputs.outputs.resource_name }}
      version: ${{ needs.set-outputs.outputs.version_number }}
    secrets:
      HEROKU_APP_NAME: ${{ secrets.HEROKU_WEB_APP_NAME_PROD_MAINNET }}
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
