name: Web Deploy

on:
  workflow_dispatch:
    inputs:
      run-type:
        description: "Run option"
        required: true
        default: "Deploy-to-Staging-Testnet"
        type: choice
        options:
          - Code-Quality
          - Deploy-to-Staging-Testnet
          - Deploy-to-Prod-Mainnet

jobs:
  set-outputs:
    name: Set outputs
    uses: ./.github/workflows/web.set-outputs.yaml
    with:
      run-type: ${{ inputs.run-type }}

  build:
    name: Build web
    needs: [set-outputs]
    uses: ./.github/workflows/web.build.yaml
    secrets:
      APP_ASSETS_URL: ${{ needs.set-outputs.outputs.environment == 'Production-Mainnet' && secrets.WEB_PROD_APP_ASSETS_URL || secrets.WEB_STAGING_APP_ASSETS_URL }}
      APP_CONTENT_URL: ${{ needs.set-outputs.outputs.environment == 'Production-Mainnet' && secrets.WEB_PROD_APP_CONTENT_URL || secrets.WEB_STAGING_APP_CONTENT_URL }}
      SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
      SENTRY_PROJECT_WEB: ${{ secrets.SENTRY_PROJECT_WEB }}
      SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}

  code-quality:
    name: Code quality
    needs: [build]
    uses: ./.github/workflows/web.code-quality.yaml

  deploy-staging-testnet:
    name: Deploy to Heroku (Staging Testnet)
    needs: [set-outputs, build, code-quality]
    if: needs.code-quality.result == 'success' && needs.build.result == 'success' && needs.set-outputs.result == 'success' && needs.set-outputs.outputs.environment == 'Staging-Testnet'
    uses: ./.github/workflows/web.deploy-heroku.yaml
    with:
      environment: ${{ needs.set-outputs.outputs.environment }}
      version: ${{ needs.set-outputs.outputs.version_number }}
    secrets:
      HEROKU_APP_NAME: ${{ secrets.HEROKU_WEB_APP_NAME_STAGING_TESTNET }}
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}

  deploy-prod-mainnet:
    name: Deploy to Heroku (Production Mainnet)
    needs: [set-outputs, build, code-quality]
    if: needs.code-quality.result == 'success' && needs.build.result == 'success' && needs.set-outputs.result == 'success' && needs.set-outputs.outputs.environment == 'Production-Mainnet'
    uses: ./.github/workflows/web.deploy-heroku.yaml
    with:
      environment: ${{ needs.set-outputs.outputs.environment }}
      version: ${{ needs.set-outputs.outputs.version_number }}
    secrets:
      HEROKU_APP_NAME: ${{ secrets.HEROKU_WEB_APP_NAME_PROD_MAINNET }}
      HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
